<!-- dinnerView -->
<div id="dinnerView" class="">
  <div class="bg-warning row grid-border">
    <div class="col-md-3 col-md-offset-1">
      <h3>
        My Dinner for <span id="numberOfGuests">{{numberOfGuests}}</span>
      </h3>
    </div>
    <div class="col-md-7">
      <button class="btn btn-primary pull-right" id="backButton" onclick="history.back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Go back and edit dinner
      </button>
    </div>
  </div>
   <div class="row dinner">
      <div class="col-md-6 col-md-offset-1">
        <div class="row" id="dinnerItems">
          <div class="col-md-4" ng-repeat="option in getMenu()">
            <div>
            <!-- DYNAMIC CONTENT HERE -->
            <img class="img-responsive img-thumbnail" src="{{option.image}}"/>
            <p class="text-center grey">{{option.title}}</p>
            <p>{{getPrice(option)}} SEK</p>
          </div>
        </div>
        </div>
      </div>
      <div class="left-border col-md-3">
        <div>
          <table id="ingredients" class="table">
            <tr ng-repeat="ingredient in getAllIng()">
                <td>{{ingredient.amount * numberOfGuests}} {{ingredient.unit}}</td>
                <td>{{ingredient.name}}</td>
                <td>SEK</td>
                <td>{{ingredient.amount * numberOfGuests}}</td>
            </tr>
          </table>
        </div>
        <p class="text-primary text-right">
          Total price: <span id="totalCost">{{getTotalPrice()}}</span> SEK
        </p>
      </div>
    </div>
</div>
<!-- dinnerView end -->
